* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* header with image and highlighted link across top of page */
header {
    background-image: url(./Images/serene-lake.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    padding: 15px;
    align-items: right;
    font-size: 24px;
}

header ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-weight: bold;
}


li {
    list-style-type: none;
}


/* links turn light blue background on hover */
a:hover {
    color: black;
    background-color: rgba(20, 200, 200, 0.75);
    border-radius: 5px
}

a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: 100px;
}

main {
    background-color: lightslategrey;
}

.about {
    display: flex;
}

/* avatar rounded */
.about img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.about p {
    margin-left: 20px;
    padding-left: 20px;
    line-height: 30px;
    border-left: 3px dotted black;
}

.work {
    border-top: 3px dotted black;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
 }


/* placed on the left of the screen */
aside {
    flex: 1;
    flex-wrap: wrap;
    float: left;
    text-align: left;
    height: 700px;
    width: 240px;
    border-top: 3px dotted black;
}

/* image links turn opaque on hover */
.opacity:hover {
    opacity: 0.3;
}

.center {
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
}

.center img {
    width: 100%;
    padding: 5px;
}


.box {
    display: inline-flex;
    width: 30%;  
    height: auto; 
    margin: auto;
    justify-content:space-between;
}


/* footer is light sea green */
footer {
    background-color: lightseagreen;
    text-align: center;
    margin: auto;
    padding: 10px;
}


footer a {
    text-decoration: none;
    padding: 15px;
    align-items: center;
    font-size: 24px;
}

footer ul {
    display: flex;
    font-weight: bold;
}

#dinner {
    width:75%;
    height: auto;
}
